.container
  .row
    .col-md-3
      .sidebar
        = render "layouts/sidebar", diary: @diary
    .col-md-9
      %h1.text-center.en.mb-0.mt-3 NewDiary
      %p.text-center 日記作成
      .card.mb-3.shadow-sm
        .card-body
          = render "layouts/errors", obj: @diary
          #new-diary-form
            = render "diaries/form"