.container
  .row.mt-4
    .col-md-12
      .d-flex.align-items-center
        %h1.mr-3 ダイエット方法一覧
        = search_form_for @diet_method_search, url: admin_diet_methods_path, class: "mr-4" do |f|
          .position-relative
            = f.text_field :title_or_customer_name_cont_any, placeholder: 'タイトル・会員名', class: "w-100 rounded-pill form-control"
            = f.submit "", class: "search-submit"
      = render "admin/diet_methods/index", diet_methods: @diet_methods