= search_form_for @q, url: finder_path, method: :get, local: :true, class: "mr-4" do |f|
  .position-relative
    = f.text_field :name_cont, placeholder: 'キーワード検索', class: "w-100 rounded-pill form-control"
    = f.submit "", id: "search-submit"
