%h1 退会
.text-center.mt-5
  %p.font-weight-bold.text-uppercase
    退会すると同じメールアドレスでの再登録はできません。
    %br
    また、過去に投稿したデータは退会後24時間以内に自動的に削除されます。
  = link_to "退会する", customers_withdraw_path, {method: :patch, class: "btn btn-danger mt-3", data: { confirm: "本当に退会しますか？" }}
