%h2 退会
.text-center.mt-5
  %p.font-weight-bold.text-uppercase
    退会すると同じメールアドレスでの再登録はできません。
  = link_to "退会する", "#", class: "btn btn-danger mt-3", "data-target": "#withdraw-confirm", "data-toggle": "modal", type: "button"
  .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "labelwithdraw", role: "dialog", tabindex: "-1", id: "withdraw-confirm"}
    .modal-dialog.modal-dialog-centered{role: "document"}
      .modal-content
        .modal-header
          %h5.modal-title{id: "labelwithdraw"}
            退会確認
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body.text-left
          本当に退会しますか？
        .modal-footer
          %button.btn.btn-secondary{"data-dismiss" => "modal", type: "button"} Close
          = link_to "退会", customers_withdraw_path, method: :patch, class: "btn btn-danger"