.container
  .row
    .col-md-3
      = render "layouts/sidebar"
    .col-md-9
      #tab-contents
        #profile.tab
          = render "profile", customer: current_customer
        #block.tab
          = render "block", customers: @customers
        #withdraw.tab
          = render "withdraw", customer: current_customer

