.container
  .row
    .col-md-3
      = render "layouts/sidebar"
    .col-md-9
      #tab-contents
        #profile.tab
          = render "profile", customer: @customer
        #withdraw.tab
          = render "withdraw", customer: @customer

