.container
  .row
    .col-md-3
      .sidebar
        .card.shadow-sm.mb-3
          .card-body
            = render "customers/search"
        = render "layouts/sidebar", diary: @diary
    .col-md-9
      %h1.text-center.en.mb-0.mt-3 Users
      %p.text-center.border-bottom.mb-0.pb-3 ユーザー
      = render "index", customers: @customers
      - if @customers.blank?
        %p.text-center 条件に一致するユーザーはいません