.container.mt-5
  .row
    .col-md-12
      .d-flex.align-items-center
        %h1.mr-3 日記一覧
        = search_form_for @diary_search, url: admin_diaries_path, class: "mr-4" do |f|
          .position-relative
            = f.text_field :title_or_customer_name_cont_any, placeholder: 'タイトル・会員名', class: "w-100 rounded-pill form-control"
            = f.submit "", class: "search-submit"
      = render "admin/diaries/index", diaries: @diaries
