$("#comments").html("#{ j(render "diet_method_comments/index", diet_method: @diet_method) }")
$("#comment_count").html("#{ @diet_method.diet_method_comments.count }")
$("#reply-field-#{ @parent_id }").addClass("active")