/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

h1 {
  background-color: #6c757d;
  color: white;
  padding: 10px;
  font-size: 2rem;
}

h2 {
  border-left: thick solid #6c757d;
  border-bottom: thin solid #6c757d;
  padding: 5px;
}

.profile_image {
  border-radius: 50%;
}

.table_link:hover{
  cursor:  pointer;
  background-color: lightgray;
}

.sidebar {
  position: sticky;
  top: 110px;
}

.icon {
  font-size: 30px;
  &:hover {
    cursor: pointer;
  }
}

.fa-camera {
  position: absolute;
  top: 60px;
  left: 60px;
  text-shadow: 1px 2px 3px black;
}

#file {
  display: none;
}

.field {
  margin-bottom: 20px;
}

.header-notification {
  width: 300px;
}

.n-circle {
  position: absolute;
  padding-left: 20px;
  color: #efa04c;
}

#up-button {
  display: none;
}

.header-notification {
  display: none;
  position: absolute;
  top: 40px;
  background-color: white;
  z-index: 1;
}
