// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-registration-form {
  display: none;
}

.new-registration-wrapper {
  margin-top: 130px;
}

.bell-plus {
  position: absolute;
  right: 0px;
  top: -10px;
}

.simple-calendar .day {
  height: 73px;
}

.rank {
  width: 100px;
  font-size: 30px;
}