// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-visual-wrapper {
  width : 100vw;
}

.costomer-button-wrapper {
  position: absolute;
  top: 0px;
  left: 10px;

}