.flex-column.ml-auto
  #navbarNavDropdown.collapse.navbar-collapse
    %ul.navbar-nav
      %li= link_to "ユーザー", admin_customers_path , class: "nav-link text-dark btn btn-outline-dark mr-3"
      %li= link_to "日記", admin_diaries_path , class: "nav-link text-dark btn btn-outline-dark mr-3"
      %li= link_to "方法", admin_diet_methods_path , class: "nav-link text-dark btn btn-outline-dark mr-3"
      %li= link_to "お問い合わせ", admin_contacts_path , class: "nav-link text-dark btn btn-outline-dark mr-3"
%button{class: "navbar-toggler", type: "button", "data-toggle": "collapse", "data-target": "#navbarNavDropdown", "aria-controls": "navbarNavDropdown", "aria-expanded": "false", "aria-label": "Toggle navigation"}
  %span.navbar-toggler-icon
