%h2 初めての方へ
= link_to "新規登録", new_customer_registration_path, class: "btn btn-outline-primary w-100 mt-4"
= link_to "ログイン", new_customer_session_path, class: "btn btn-outline-primary w-100 mt-4"
%ul.mt-4
  %li
    = link_to "このサイトについて", homes_about_path, class: "text-dark"
  %li
    お問い合わせ