.flex-column
  #navbarNavDropdown.collapse.navbar-collapse
    %ul.navbar-nav
      %li= link_to "ユーザー一覧", customers_path , class: "nav-link text-dark btn btn-outline-dark mr-3"
      %li= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "nav-link text-dark btn btn-outline-dark mr-5"
//   = render "search/search_form"
%button{class: "navbar-toggler", type: "button", "data-toggle": "collapse", "data-target": "#navbarNavDropdown", "aria-controls": "navbarNavDropdown", "aria-expanded": "false", "aria-label": "Toggle navigation"}
  %span.navbar-toggler-icon